In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/devdio/datasets/main/auto-mpg.csv', na_values='?')
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(4), int64(4), object(1)
memory usage: 28.1+ KB

In [5]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

In [12]:
df.columns = [col.replace(' ', '_') for col in df.columns]

In [14]:
from sklearn.model_selection import train_test_split

X = df.drop(['mpg', 'car_name', 'origin'], axis=1)
y = df['mpg']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train: pd.DataFrame = X_train
X_test: pd.DataFrame = X_test
y_train: pd.Series = y_train
y_test: pd.Series = y_test

print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(318, 6) (318,) (80, 6) (80,)

In [16]:
X_train.dropna(inplace=True)
y_train = y_train[X_train.index]
X_test.dropna(inplace=True)
y_test = y_test[X_test.index]

print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(313, 6) (313,) (79, 6) (79,)

In [17]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

y_train = y_train.values
y_test = y_test.values

array([[ 1.51040727,  1.07508267,  1.25238452,  0.54139086, -1.30971783,
        -1.69540513],
       [-0.86227768, -0.93225674, -0.40975295, -1.00783493, -0.40324852,
        -1.69540513],
       [-0.86227768, -0.99044049, -0.94592632, -1.13267661,  0.93832606,
         1.6614434 ],
       ...,
       [-0.86227768, -0.57345694, -0.22209226, -0.55008211, -0.2944722 ,
         0.54249389],
       [-0.86227768, -1.00983508, -1.10677834, -1.1029524 ,  0.61199711,
         1.38170602],
       [-0.86227768, -0.93225674, -1.53571704, -1.22184924,  1.95357168,
        -0.85619299]])

In [2]:
from tensorflow import keras
from tensorflow.keras import layers

model = keras.Sequential([
    layers.Dense(units=6, activation='relu', input_shape=(6,)),
    layers.Dense(units=3, activation='relu'),
    layers.Dense(units=1),
])

ModuleNotFoundError: No module named 'tensorflow'

- 모델 컴파일
    * Error Function
    * Optimizer(어떤 경사하강법을 쓸건지)
    * Matrix (MAE, MSE)

In [ ]:
model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mse'])

In [ ]:
EPOCHS = 100
BATCH_SIZE = 16

history = model.fit(
    X_train_scaled, y_train,
    batch_size=BATCH_SIZE,
    epochs=EPOCHS,
    verbose=1,
)

In [ ]:
## 평가

hist = history.history
epochs = history.epoch

plt.plot(epochs, hist['loss'])

In [ ]:
from sklearn.metrics import mean_squared_error

y_pred = model.predict(X_test_scaled)
mean_squared_error(y_test, y_pred)